{% load bootstrap4 %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meat name="viewport" content="width=devide-width, initial-scale=1, shrink-to-fit=no">
    <titel>Learning Log</titel>
    
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <!-- nav元素：包括 navbar 和 navbar-expend-me 样式，light指浅色，mb指margin-botton下边距，border指加一个边界 -->

        <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>
        <!-- 主页链接，navbar-brand 样式 -->
        
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <!-- 导航栏按钮，太窄时显示 -->

        <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- 定义导航栏的位置、左侧内容，ul指列表，此处只有一项topics -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ml-auto"> <!--- ml-auto->左边距自动(靠右) -->
                {% if user.is_authenticated %} 
                <!--登陆了，展示问候语和注销-->
                    <li class="nav-item">
                        <span class="navbar-text">Hello,{{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                    </li>
                {% else %} 
                <!--没登陆，展示注册和登陆-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
    <!--页面主体，container样式-->
        <div class="pb-2 mb-2 border-bottom">
        <!--标题，pd内边距，mb外边距，下边框-->
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
        <!--内容-->
            {% block content %}{% endblock content %}
        </div>
    </main>

</body>

</html>